.Logo {
    background: url(./crakinscom.png);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.Logo:hover {
    background: url(./crakinscom_yellow.png);
}

.image-swap{
    margin-left: auto;
	margin-right: auto;
    height: 240px;
    width: 680px;
	background: url(./crakinscom.png);
    background-repeat: no-repeat;
    
    transition: transform 0.25s ease-out;
}

.image-swap:hover{
	background:url(./crakinscom_yellow.png);
	background-repeat: no-repeat;
	cursor: pointer; 
    cursor: hand;
    transform: scale(1.05);
}